<div class="profile-form-control">
    <label for="{{name}}" class="label" class="profile-form-label">
        {{placeholder}}
    </label>
    <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}"
           placeholder="{{placeholder}}" class="profile-form-input">

  {{#each errors as |error|}}
    <div class="input-error">{{ error }}</div>
  {{/each}}
</div>
