<div class="app-wrapper full-width">
  <div class="chat-list-wrapper">
    <nav class="chat-list-header">
      <div class="chat-list-actions">
        {{{newChat}}}
        {{{profileLink}}}
      </div>
      <div class="chat-list-search">
        <input type="text" name="search" id="search" class="search-input" placeholder="Поиск">
      </div>
    </nav>
    <ul class="chat-list">
      {{#each chats as |chat|}}
        {{{ChatItem chat=chat}}}
      {{/each}}
    </ul>
  </div>
  <div class="chat-content-wrapper">
    {{#if selectedChat }}
        {{{chatHeader}}}
    {{/if}}

    <div class="chat-content">
      {{#if selectedChat }}
          {{#each messages as |message|}}
            {{{Message message=message userId=../userId}}}
          {{/each}}
      {{else}}
        Выберите чат
      {{/if}}

    </div>
      <form class="message-panel" id="message-form">
        <input type="text" name="message" id="message-input" class="message-input" placeholder="Сообщение">
        <button class="arrow-btn" type="submit">&#11157;</button>
      </form>
    {{#each errorMessages as |e|}}
      <div class="input-error">{{ e }}</div>
    {{/each}}
  </div>

</div>
