<div class="input-wrapper">
  {{#each errors as |error|}}
    <div class="input-error">{{ error }}</div>
  {{/each}}
    <input type="{{type}}" name="{{name}}" id="{{name}}" class="input" placeholder="{{placeholder}}" value="{{value}}">
    <label for="{{name}}" class="label">{{placeholder}}</label>
</div>
