<form action="/profile" class="profile-form" id="js-profile-form">
  {{{email}}}
  {{{login}}}
  {{{firstName}}}
  {{{secondName}}}
  {{{displayName}}}
  {{{phone}}}
  {{#if isActiveForm}}
    <button type="submit" class="btn-primary">Сохранить</button>
  {{/if}}
</form>
