<li class="chat-list-item {{#if isSelected}}chat-list-item__active{{/if}}">
    <div class="chat-item">
      <div class="chat-item-avatar"
        {{#if chat.avatar}}
           style="background-image: url('https://ya-praktikum.tech/api/v2/resources{{chat.avatar}}');
                   background-size: cover;"
        {{/if}}>
      </div>
        <div class="chat-last-message">
            <p class="chat-title">
                {{chat.title}}
            </p>
            <p class="message-content">
                {{#if chat.last_message}}
                    <span class="message-from">{{chat.last_message.user.login}}:</span>
                {{/if}}
                {{chat.last_message.content}}
            </p>
        </div>
        <div class="chat-last-message-info">
          {{#if chat.last_message}}
            <p class="c">{{chat.last_message.time}}</p>
          {{/if}}

            {{#if chat.unread_count}}
                <div class="unread-counter">{{chat.unread_count}}</div>
            {{/if}}
        </div>
    </div>
</li>
