<form class="profile-form" id="js-profile-form">
  {{{email}}}
  {{{login}}}
  {{{firstName}}}
  {{{secondName}}}
  {{{displayName}}}
  {{{phone}}}
  <button type="submit" class="btn-primary">Сохранить</button>
</form>
