<form action="{{action}}" class="form">
  <div class="form-header">
    <h1 class="h1 ta-center">{{formTitle}}</h1>
  </div>
  <div class="form-content">
    {{#each inputs as |input|}}
      {{{TextInput placeholder=input.placeholder name=input.name type=input.type}}}
    {{/each}}
  </div>
  <div class="form-footer">
    <button type="submit" class="btn-primary">{{submitText}}</button>
<!--      <a href="{{submitLink}}" class="btn-primary">{{submitText}}</a>-->
    {{#if link}}
      <p class="ta-center">
        <a href="{{link.url}}" class="link-primary">{{link.text}}</a>
      </p>
    {{/if}}
  </div>
</form>
