<div class="profile-form-control">
    <label for="{{name}}" class="label" class="profile-form-label">
        {{placeholder}}
    </label>
    <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}"
           class="profile-form-input" {{#unless disabled}}disabled{{/unless}}>

  {{#each errors as |error|}}
    <div class="input-error">{{ error }}</div>
  {{/each}}
</div>
